.card {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 6px 12px -1px rgba(92, 92, 92, 0.14);
  -moz-box-shadow: 0px 6px 12px -1px rgba(92, 92, 92, 0.14);
  box-shadow: 0px 6px 12px -1px rgba(92, 92, 92, 0.14);
  border-radius: 10px;
  gap: 10px;
  transition: 0.2s ease-out all;
}
.backgroudForIcon {
  min-width: 164px;
  height: 164px;
  border-radius: 50%;
  background-color: #f9f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.icon {
  width: 55px;
  height: 80px;
}
.subtitle {
  align-self: start;
  text-align: start;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.description {
  text-align: start;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #282828;
  opacity: 0.7;
  text-wrap: pretty;
  max-height: 126px;
  margin: 20px 0 0 0;
}

@media (hover: hover) {
  .card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 6px 12px -1px rgba(92, 92, 92, 0.3);
    -moz-box-shadow: 0px 6px 12px -1px rgba(92, 92, 92, 0.3);
    box-shadow: 0px 6px 12px -1px rgba(92, 92, 92, 0.3);
  }
}

@media (width <= 1313px) {
  .description {
    margin: 10px 0 0 0;
  }
}

@media (width <= 1000px) {
  .subtitle {
    font-size: 18px;
  }
}

@media (width <= 768px) {
  .backgroudForIcon {
    min-width: 160px;
    height: 160px;
  }
}

@media (width <= 755px) {
  .description {
    margin: 5px 0 0 0;
  }
}

@media (width <= 620px) {
  .backgroudForIcon {
    min-width: 120px;
    height: 120px;
  }

  .icon {
    width: 41px;
    height: 57px;
  }
}
