.border {
  max-width: 764px;
  width: 100%;
  height: 18.5px;
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  opacity: 0.2;
  position: absolute;
  border-radius: 2px;
  top: -10px;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  max-width: 764px;
  width: 100%;
  position: relative;
  height: 100%;
  max-height: 90px;
}
.subTitle {
  max-width: 350px;
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-family: "Play", "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 26px;
  line-height: 120%;
  opacity: 0.9;
  margin: 0;
}
.date {
  margin: 0 0 10px 0;
  font-family: "MontSerrat", "Courier New", Courier, monospace;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  background-color: #384e85;
  border-radius: 10px;
  padding: 0 8px;
  color: white;
  max-width: fit-content;
}
.description {
  margin: 0;
  font-family: "MontSerrat", "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  opacity: 0.7;
  color: #333333;
  text-align: start;
}
