.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 10px 0 0;
  color: black;
  font-family: "MontSerrat", "Courier New", Courier, monospace;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.imagesContainer {
  display: flex;
  flex-direction: column;
  max-width: 435px;
}
.mainImageContainter {
  width: 100%;
  margin-bottom: 10px;
}
.mainImage {
  object-fit: contain;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.smallImagesContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.smallImage {
  max-width: 79px;
  height: 68px;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  opacity: 0.5;
}

.linkQuality {
  text-align: start;
  font-family: "MontSerrat", "Courier New", Courier, monospace;
  line-height: 110%;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

.linkQuality:link {
  color: #4466fb;
}

.linkQuality:visited {
  color: #5c17cd;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 661px;
  width: 100%;
}
.subTitle {
  font-family: "MontSerrat", "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin: 0;
  max-width: 661px;
  text-align: start;
}
.descriptionAndCharacteristicsContainer {
  display: flex;
  flex-direction: row;
  gap: 22px;
}
.characteristics {
  max-width: 269px;
  width: 100%;
  text-align: start;
}

.characteristicsTitle {
  font-family: "MontSerrat", "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 8px 0;
}

.characteristicsList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: start;
  min-width: 194px;
}
.characteristicsElement {
  font-size: 14px;
}

.characteristicsElementText {
  margin: 0;
  font-weight: 400;
  line-height: 110%;
  color: #282828;
}
.characteristicsElementTitle {
  font-weight: 500;
  color: #282828;
  opacity: 0.7;
  line-height: 110%;
}

.descriptionContainer {
  max-width: 373px;
  width: 100%;
  text-align: start;
}
.description {
  margin: 0;
  color: #282828;
  opacity: 0.7;
  line-height: 130%;
  font-weight: 400;
  max-width: 370px;
  min-width: 157px;
}
.descriptionTitle {
  font-family: "MontSerrat", "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 8px 0;
}

.buttonContainer {
  align-self: flex-end;
  margin-top: 5px;
}

@media (width <= 897px) {
  .imagesContainer {
    max-width: 350px;
  }
  .smallImage:nth-of-type(5) {
    display: none;
  }

  .smallImagesContainer {
    justify-content: space-between;
  }
}

@media (width <= 803px) {
  .characteristics {
    max-width: 100%;
    height: 320px;
  }

  .buttonContainer {
    width: 100%;
  }
  .descriptionAndCharacteristicsContainer {
    gap: 0;
    width: 100%;
  }

  .descriptionContainer {
    display: none;
  }
  .characteristicsTitle {
    font-size: 12px;
    color: #4466fb;
    justify-self: center;
    text-align: center;
    width: 50%;
    border-bottom: solid 1px #4466fb;
    padding-bottom: 3px;
    transition: 0.3s ease-in-out all;
    margin: 0;
  }

  .descriptionTitle {
    font-size: 12px;
    color: #4466fb;
    justify-self: center;
    text-align: center;
    width: 50%;
    border-bottom: solid 1px #4466fb;
    padding-bottom: 3px;
    transition: 0.3s ease-in-out all;
    margin: 0;
  }
  .titlesContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 12px;
  }
  .titleDisabled {
    opacity: 0.5;
  }
}
