.mainContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 70px 200px;
  background-color: #fdfdfd;
  color: black;
}
.titleContainer {
  margin-bottom: 50px;
  font-size: 48px;
}
.listNews {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: end;
}
.linkContainer {
  display: flex;
  gap: 15px;
  justify-content: end;
  cursor: pointer;
  margin: 34px 0 0 0;
}
.linkText {
  font-family: "MontSerrat", "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
  color: #4466fb;
}
.arrow {
}

@media (width < 1430px) {
  .titleContainer {
    font-size: 3.3vw;
  }
}

@media (width <= 1200px) {
  .mainContainer {
    padding: 80px 5vw;
  }

  .titleContainer {
    font-size: 3.5vw;
    width: 40%;
  }
}

@media (width <= 1000px) {
  .titleContainer {
    font-size: 3.4vw;
  }
}

@media (width <= 720px) {
  .titleContainer {
    font-size: 5vw;
    width: 60%;
  }
}

@media (width <= 620px) {
  .titleContainer {
    font-size: 5.5vw;
  }
  .mainContainer {
    padding: 40px 5vw;
  }
}
