.mainContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #1b1b1b;
  align-items: start;
  padding: 80px 205px 150px 205px;
  background-color: #fdfdfd;
  background-image: url("../../assets/images/backgroundColorForDownloadSection.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.list {
  padding: 0 0 0 25px;
  margin: 55px 0 40px 0;
}

.listElement {
  padding: 0;
  margin: 0;
  list-style: url("../../assets/images/Daw.svg");
  text-align: start;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: #282828;
  opacity: 0.7;
}

.titleContainer {
  max-width: 680px;
  font-size: 48px;
}

.imageContainer {
  display: flex;
  gap: 10px;
}

.linkImage {
  cursor: pointer;
}

.image {}


@media (width <=1430px) {
  .titleContainer {
    font-size: 3.3vw;
  }
}

@media (width <=1280px) {
  .mainContainer {
    background-size: 70vw;
  }
}

@media (width <=1200px) {
  .mainContainer {
    padding: 80px 5vw;
  }

  .titleContainer {
    font-size: 3.4vw;
    width: 60%;
  }

  .listElement {
    font-size: 1.52vw;
  }
}


@media (width <=1000px) {
  .titleContainer {
    font-size: 3.4vw;
    width: 70%;
  }

  .listElement {
    font-size: 16px;
  }
}

@media (width <=720px) {
  .titleContainer {
    font-size: 5vw;
    width: 70%;
  }
}

@media (width <=620px) {
  .titleContainer {
    font-size: 5.5vw;
    width: 80%;
  }
}