.divContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.mainDivContainer {
  background-image: url(../../assets/images/backgroundImageForWelcomSection.png);
  background-size: 140% 100%;
  background-repeat: no-repeat;
  max-width: 1600px;
  padding: 35px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  justify-content: flex-end;
  margin: 0 110px 0 90px;
}

.title {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  font-family: "Play", "Courier New", Courier, monospace;
  color: white;
  height: 211px;
  width: 551px;
  text-align: start;
  line-height: 110%;
  align-items: flex-end;
  position: absolute;
}

.titleContainer {
  width: 441px;
  height: 211px;
  overflow: visible;
  position: relative;
}

.subTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 110px 0 20px 0;
  align-items: flex-start;
}

.line {
  width: 80px;
  border-bottom: 1px solid white;
  margin-right: 15px;
}

.lineWithText {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-bottom: auto;
}

.textWithButton {
  max-width: 240px;
  text-align: start;
}

.text {
  margin: 0;
  font-family: "Montserrat", "Courier New", Courier, monospace;
}

.imageContainer {
  position: relative;
  margin: 70px 0 0 0;
  align-self: flex-end;
  max-width: 716px;
  max-height: 465px;
  object-fit: fill;
  padding-top: 50px;
}

.image {
  object-fit: contain;
  width: 716px;
  height: 465px;
  margin-top: 5px;
}

.liveIcon {
  position: absolute;
  right: 100px;
  top: 120px;
}

.arrowContainer {
  display: flex;
  justify-content: start;
  margin: 84px 0 50px 0;
}

.arrowContainer img:nth-of-type(1) {
  margin: 0 10px 0 17px;
  cursor: pointer;
  transition: 0.3s ease-in all;
  user-select: none;
}

.arrowContainer img:nth-of-type(2) {
  margin-right: 120px;
  cursor: pointer;
  transition: 0.3s ease-in all;
  user-select: none;
}

.lineWithNumber {
  width: 330px;
  height: 10px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.arrowAndLinesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.numberOnLine {
  font-family: "Play", "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 16px;
  max-height: 20px;
  margin: 0;
  padding: 0;
}

.lineWithNumberContainer {
  cursor: pointer;
  margin-top: 30px;
  opacity: 0.5;
  margin-left: -1px;
  transition: 0.3s ease-in all;
}

.addOpacity {
  opacity: 1;
}

.disableArrow {
  opacity: 0.5;
  cursor: default;
}
