.divContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-height: 400px;
  box-sizing: border-box;
  align-items: center;
}

.mainDivContainer {
  background-image: url(../../assets/images/backgroundImageForWelcomSection.png);
  background-size: 140% 100%;
  background-repeat: no-repeat;
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 181px 70px 50px 200px;
  box-sizing: border-box;
  justify-content: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.title {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  font-family: "Play", "Courier New", Courier, monospace;
  color: white;
  max-width: 551px;
  width: 120%;
  text-align: start;
  line-height: 110%;
  align-items: flex-end;
  position: absolute;
  margin: 0;
}

.titleContainer {
  width: 458px;
  height: 159px;
  overflow: visible;
  position: relative;
}

.subTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 77px 0 0 0;
  align-items: flex-start;
  width: 100%;
}

.buttonContainer {
}

.line {
  max-width: 80px;
  width: 100vw;
  border-bottom: 1px solid white;
  margin-right: 15px;
}

.lineWithText {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-bottom: auto;
}

.textWithButton {
  max-width: 240px;
  text-align: start;
  width: 100%;
}

.text {
  margin: 0;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  line-height: 120%;
  font-size: 16px;
  max-width: 240px;
  width: 100%;
}

.imageContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  max-width: 716px;
  object-fit: fill;
  max-height: 440px;
}

.image {
  object-fit: contain;
  width: 100%;
}

.liveIcon {
  width: 5vw;
  max-width: 80px;
}
.liveIconContainer {
  position: absolute;
  right: 100px;
  top: 60px;
}

.arrowContainer {
  display: flex;
  justify-content: start;
  margin: 81px 0 0 0;
}

.arrowContainer img:nth-of-type(1) {
  margin: 0 10px 0 0;
  cursor: pointer;
  transition: 0.3s ease-in all;
  user-select: none;
}

.arrowContainer img:nth-of-type(2) {
  margin-right: 123px;
  cursor: pointer;
  transition: 0.3s ease-in all;
  user-select: none;
}

.lineWithNumber {
  width: 330px;
  height: 10px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.arrowAndLinesContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
  width: 100%;
  gap: 12px;
}

.lines {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
}

.numberOnLine {
  font-family: "Play", "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 16px;
  max-height: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.lineWithNumberContainer {
  cursor: pointer;
  margin-top: 30px;
  opacity: 0.5;
  margin-left: -1px;
  transition: 0.3s ease-in all;
  max-width: 336px;
  width: 100%;
}

.addOpacity {
  opacity: 1;
}

.disableArrow {
  opacity: 0.5;
  cursor: default;
}

.lineWithNumber {
  width: 99.5%;
}

@media (width < 1430px) {
  .title {
    font-size: 3.4vw;
  }
  .subTextContainer {
    margin: 50px 0 0 0;
  }
}

@media (width < 1300px) {
  .imageContainer {
    align-self: flex-end;
  }
  .subTextContainer {
    margin: 30px 0 0 0;
  }
}

@media (width < 1200px) {
  .mainDivContainer {
    padding: 120px 5vw 25px 5vw;
  }
  .imageContainer {
    margin-right: 0;
    max-width: 500px;
    width: 100%;
    margin-right: 0;
    max-width: 500px;
  }
  .image {
    width: 100%;
  }
  .divContainer {
    justify-content: center;
    align-items: end;
    height: 50vw;
  }

  .title {
    font-size: 3.5vw;
  }
  .subTextContainer {
    margin: 15px 0 0 0;
  }
}

@media (width < 1000px) {
  .title {
    font-size: 3.7vw;
  }
  .titleContainer {
    height: 115px;
  }
  .divContainer {
    align-items: center;
    height: 40.5vw;
  }
  .imageContainer {
    align-self: normal;
  }
}

@media (width < 900px) {
  .lineWithText {
    display: none;
  }
  .titleContainer {
    width: 340px;
  }
}

@media (width <= 776px) {
  .titleContainer {
    width: 265px;
  }

  .lineWithNumber {
    width: 98%;
  }
  .titleContainer {
    height: 120px;
    display: flex;
    align-items: flex-end;
  }
}

@media (width <= 720px) {
  .divContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 30px;
  }

  .titleContainer {
    width: auto;
  }

  .title {
    font-size: 5vw;
    width: 100%;
  }

  .lineWithNumber {
    width: 99.1%;
  }

  .textContainer {
    gap: 10px;
    margin: 100px 0 0 0;
    width: 100%;
  }

  .textWithButton {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: end;
    width: 75vw;
    gap: 15px;
  }

  .subTextContainer {
    display: flex;
    justify-content: center;
  }

  .text {
    line-height: 130%;
    font-weight: 400;
  }

  .buttonContainer {
    width: 100%;
  }

  .imageContainer {
    align-self: center;
    height: 289px;
    max-width: 458px;
    width: 100%;
  }

  .arrowAndLinesContainer {
    margin-top: 200px;
  }

  .arrowContainer {
    display: none;
  }
}
