.header {
  font-size: 30px;
  font-family: "Play";
  font-weight: bold;
  display: flex;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
  max-width: 1205px;
  width: 100%;
  height: 65px;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  margin-top: 15px;
  background: none;
  z-index: 123;
  box-sizing: border-box;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.li {
  height: min-content;
  display: flex;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.buttonJoinContainer {
  display: flex;
  justify-content: center;
  margin-left: 75px;
  transition: 0.2s ease-out all;
}

.buttonJoinContainer:hover {
  box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.2);
}

.joinIconContainer {
  display: none;
}
.burgerMenuIcon {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 775px) {
  .imgContainer {
    display: none;
  }
  .ul {
    display: none;
    opacity: 0;
  }
  .header {
    justify-content: space-between;
    padding: 0 20px;
  }
  .joinIconContainer {
    display: flex;
  }
  .buttonJoinContainer {
    display: none;
  }

  .ul.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 10%;
  }

  .navIcon {
    width: 30px;
    height: 18px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .navIcon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .navIcon span:nth-child(1) {
    top: 0px;
  }

  .navIcon span:nth-child(2),
  .navIcon span:nth-child(3) {
    top: 9px;
  }

  .navIcon span:nth-child(4) {
    top: 18px;
  }

  .navIcon.active span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
  }

  .navIcon.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .navIcon.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .navIcon.active span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
}
